<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'admin.css')}}">
</head>
<body>
    <!-- Transparent Div with Title -->
    <div class="title-container">
        <h1 class="title">Third Eye Sentinel</h1>
    </div>

    <button class="logout-btn" onclick="logout()">Logout</button>

    <div class="container">
        <button class="btn" onclick="navigateTo('/manage_cameras')">
            <img src="{{url_for('static',filename='camera-icon.png')}}" alt="Manage Cameras">
            <span><b>Manage Cameras</b></span>
        </button>
        <button class="btn" onclick="navigateTo('/manage_user')">
            <img src="{{url_for('static',filename='user-icon.png')}}" alt="Manage Users">
            <span><b>Manage Users</b></span>
        </button>
        <button class="btn" onclick="navigateTo('/view_report')">
            <img src="{{url_for('static',filename='report-icon.png')}}" alt="View Report">
            <span><b>View Report</b></span>
        </button>
        <button class="btn" onclick="navigateTo('/manage_admin')">
            <img src="{{url_for('static',filename='admin-icon.png')}}" alt="Manage Admin">
            <span><b>Manage Admin</b></span>
        </button>
    </div>
    
    <script>
        function navigateTo(page) {
            const token = localStorage.getItem('access-token');
            window.location.href=page+"?Authorization="+encodeURIComponent(token);
        }

         function logout() {
            alert("Logging out...");
            localStorage.clear();
            window.location.href = "/";
        }
    </script>
</body>
</html>
